@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Satisfy&display=swap");

/* distintas font-family: "McLaren", "Mulish", "Podkova", "Poppins", "Port Lligat Sans", "Roboto", "Rock Salt", "Satisfy"

Para los colores difuminados usar background: linear-gradient(to right, #color, #color); //difumina de izq a derecha
background:linear-gradient(#color, #color, #color); //difumina de arriba para abajo
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

:root {
  --base-f-size: 1rem;
  --max-f-size: ;
}

/* Benefits section */
.beneficios {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
}

.beneficios h2 {
  font-family: Port Lligat Sans;
  font-weight: 400;
  font-size: 38px;
  line-height: 130%;
  letter-spacing: -2%;
  text-align: center;
}

.beneficios section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.beneficios .card {
  max-width: 380px;
  border: 3px solid black;
  border-radius: 30px;
  padding: 40px 30px;
  color: #2d2d2d;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.beneficios .alertas {
  background: linear-gradient(180deg, #e0fec5 0%, #ffcfa0 100%);
}
.beneficios .sugerencias {
  background: linear-gradient(180deg, #9fcaee 0%, #bcffc8 100%);
}
.beneficios .estadisticas {
  background: linear-gradient(180deg, #ffc999 0%, #ff8d8d 100%);
}

.beneficios .card .icon {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.beneficios .alertas .icon {
  background: #7ffd5287;
}
.beneficios .sugerencias .icon {
  background: #009a7f80;
}
.beneficios .estadisticas .icon {
  background: #c43b00a6;
}

.beneficios .card h3 {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -1%;
  text-align: center;
}

.beneficios .card p {
  margin: 0;
  font-family: Mulish;
  font-weight: 400;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.beneficios .card a {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #009379;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.beneficios .card a span {
  padding-left: 5px;
  transition: all 0.5s;
}

.beneficios .card a:hover span {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .beneficios {
    padding: 120px 30px;
  }
  .beneficios h2 {
    font-size: 67px;
    line-height: 130%;
    letter-spacing: -2.5%;
  }
}
@media (min-width: 1024px) {
  .beneficios section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
