@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Podkova:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Port+Lligat+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Satisfy&display=swap");

/* distintas font-family: "McLaren", "Mulish", "Podkova", "Poppins", "Port Lligat Sans", "Roboto", "Rock Salt", "Satisfy"

Para los colores difuminados usar background: linear-gradient(to right, #color, #color); //difumina de izq a derecha
background:linear-gradient(#color, #color, #color); //difumina de arriba para abajo
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/*  */
.informacion-title-hthree {
  text-align: center;
  font-family: "Roboto", sans-serif;
  letter-spacing: -2.5%;
  line-height: 130%;
  font-weight: 500;
  font-size: 60px;
  padding: 40px;
}
.informacion-container {
  /* background-color: #e0f7fa; */
}
.informacion-ctn-cards {
  font-family: "Roboto", sans-serif;
  letter-spacing: -2.5%;
  line-height: 130%;
  font-weight: 500;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  gap: 89px;
}
.informacion-ctn-title-one,
.informacion-ctn-title-two,
.informacion-ctn-title-three {
  width: 100%;
  font-size: 30px;
  padding: 5px 5px;
  margin: 0;
  border-radius: 40px;
  border: solid 3px black;
  text-align: center;
}

.informacion-ctn-title-one,
.informacion-ctn-title-three {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(167, 167, 167, 1) 50%
  );
}
.informacion-ctn-title-two {
  background: linear-gradient(
    90deg,
    rgba(167, 167, 167, 1) 0%,
    rgba(255, 255, 255, 1) 50%
  );
}
.informacion-ctn-cards-card {
  background-color: #5050504d;
  /* padding: 10px; */
  min-width: 350px;
  max-width: 500px;
  width: 100%;
  /* background-color: red; */
  /* margin-bottom: 89px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.informacion-ctn-img-container {
  flex-grow: 1; /* Hace que este div ocupe todo el espacio restante */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.informacion-ctn-img {
  width: 100%;
  height: 100px;
  margin: 10px auto;
}
.informacion-ctn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #2a3a4e;
  margin: 0;
  padding: 13px 8px;
  border-radius: 20px;
  color: white;
}
.informacion-span-yellow {
  color: #f8d57e;
}
@media (min-width: 1280px) {
  .informacion-ctn-cards {
    flex-direction: row;
    min-height: 490px;
    gap: 41px;
  }
  .informacion-ctn-cards-card {
    background-color: transparent;
  }
  .informacion-ctn-text {
    min-height: 235px;
  }
  .informacion-card-two {
    margin-top: 61px;
  }
}
